{% load i18n %}
{% load static %}
<div id="actions-{{ loop_id }}" x-show="show_actions_{{ loop_id }}" x-cloak
     x-transition:enter="duration-300 ease-out" x-transition:enter-start="opacity-0 scale-90"
     x-transition:enter-end="opacity-100 scale-100"
     class="flex flex-col absolute top-7 right-5 md:right-7 z-20 py-1 px-2 rounded-sm border text-base!
            [&>a]:py-1 [&>a]:px-2 [&>a]:flex [&>a]:items-center [&>a]:gap-x-2 [&>a]:rounded-sm [&>a]:cursor-pointer
            text-slate-800 bg-slate-200 border-slate-300 [&>a]:hover:bg-slate-300
            dark:text-slate-200 dark:bg-slate-700 dark:border-slate-600 dark:[&>a]:hover:bg-slate-600">
    {% if not user.profile.uses_social %}
    <a id="set-pw-{{ loop_id }}" href="{% url 'admin_set_password' user.id %}">
        {% include 'includes/svg/password.html' %}
        {% trans 'Set Password' %}
    </a>
    {% endif %}
    <a id="adjust-admin-rights-{{ loop_id }}"
       hx-post="{% url 'admin_adjust_rights' user.id %}"
       hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% include 'includes/svg/admin.html' %}
        {% if user.is_superuser and user.is_staff %}
        {% trans 'Remove Admin Rights' %}
        {% else %}
        {% trans 'Add Admin Rights' %}
        {% endif %}
    </a>
    <a id="delete-{{ loop_id }}"
       @click="show_delete_user_modal = true"
       hx-get="{% url 'admin_delete_user' user.id %}"
       hx-target="#delete_user_modal"
       hx-swap="innerHTML">
        <img src="{% static 'images/trash.svg' %}" width="19">
        {% trans 'Delete' %}
    </a>
</div>
