{% for user in page_obj %}
{% widthratio current_page|add:-1 1 items_per_page as loop_offset %}
{% with loop_id=forloop.counter|add:loop_offset %}
<div x-data="{ show_actions_{{ loop_id }}: false }"
     class="relative border rounded-md
            hover:border-slate-400 dark:hover:border-slate-600
            {% if loop_id|add:1|divisibleby:2 %}
            bg-slate-200/70 dark:bg-slate-800 border-slate-200/70 dark:border-slate-800
            {% else %}
            border-slate-50 dark:border-slate-900
            {% endif %}">
    <div class="px-3 md:pl-5 py-1">
        {% include 'includes/user.html' %}
        {% include 'includes/user_actions.html' %}
    </div>
</div>
{% endwith %}
{% endfor %}

{% include 'includes/get_next_page.html' with get_next_overview_page_name='get_next_user_overview_page' %}
